Vamos a intentar encontrar que transacciones de la base de datos son fraudulentas. Las transacciones fraudulentas suelen ser uno de los principales problemas que las plataformas de pago o las fintech persiguen ya que tienen que cumplir con normas de compliance y tienen que ser transparentes entre otros motivos. Normalmente las transacciones fraudulentas suelen representar menos del 0,3% del total de las transacciones. 
En este caso hemos decidido que las siguientes características sean las más relevantes para detectar el fraude transaccional:
    1. Sólo aquellas transacciones con status "transaction_declined" o "rejected"
    2. Aquellas transacciones que tengan montos anormales, siguiendo con clientes que han hecho cash request de poca cantidad y de repente mucha cantidad o bien usuarios que solamente tengan una transacción y que sea un valor atípico de lo elevado que és.
    3. Usuarios inactivos que de repente hagan un cash request de mucha cantidad.
    4. Que la diferencia entre el created_at y el updated_at o el created_at y el paid_at sea muy pequeña.
    5. Transacciones a altas horas de la madrugada sin motivo aparente (1 AM a 4 AM)
    6. Diferencias significativas entre created_at, moderated_at, y cash_request_recieved_date.
    7. Muchas transacciones rechazadas antes de una transacción aprobada (secuencia sospechosa).

In [ ]:
%run codes/analisis_calidad_datos.ipynb

UsageError: Line magic function `%run:` not found.

In [2]:
# Filtrar los user_id con status "transaction_declined" o "rejected"
fraudulent_users = merged_df[merged_df['status'].isin(['transaction_declined', 'rejected'])]['user_id'].unique()

fraudulent_users

array([44498., 10562., 14048., 47557., 88127., 62880., 14832., 27319.,
         526.,  6333., 45517., 13565., 56860., 68367.,  3248., 34991.,
       69253., 76803., 83479., 96899.])

In [3]:
# Filtrar los user_id con el amount máximo de 200
high_amount_users = merged_df[merged_df['amount'] == 200]['user_id'].unique()

high_amount_users

array([4881., 9282., 9222.])

In [4]:
# Convertir las columnas de fechas a tipo datetime
merged_df['created_at'] = pd.to_datetime(merged_df['created_at'], errors='coerce')
merged_df['updated_at'] = pd.to_datetime(merged_df['updated_at'], errors='coerce')
merged_df['send_at'] = pd.to_datetime(merged_df['send_at'], errors='coerce')

# Calcular el diferencial de días entre created_at y updated_at
merged_df['days_created_to_updated'] = (merged_df['updated_at'] - merged_df['created_at']).dt.days

# Calcular el diferencial de días entre created_at y send_at
merged_df['days_created_to_send'] = (merged_df['send_at'] - merged_df['created_at']).dt.days

# Mostrar las nuevas columnas
merged_df[['created_at', 'updated_at', 'send_at', 'days_created_to_updated', 'days_created_to_send']]

,created_at,updated_at,send_at,days_created_to_updated,days_created_to_send
0,2020-10-23 15:20:26.163927+00:00,2020-12-18 13:08:29.099365+00:00,2020-10-23 15:21:26.878525+00:00,55,0.0
1,2020-05-27 02:26:27.615190+00:00,2020-06-09 11:25:51.726360+00:00,NaT,13,NaN
2,2020-07-01 09:30:03.145410+00:00,2020-08-11 22:27:58.240406+00:00,NaT,41,NaN
3,2020-07-01 09:30:03.145410+00:00,2020-08-11 22:27:58.240406+00:00,NaT,41,NaN
4,2020-07-01 09:30:03.145410+00:00,2020-08-11 22:27:58.240406+00:00,NaT,41,NaN
...,...,...,...,...,...
21052,2020-10-20 07:58:04.006937+00:00,2021-02-05 12:19:30.656816+00:00,2020-10-20 07:58:14.171553+00:00,108,0.0
21053,2020-10-10 05:40:55.700422+00:00,2021-02-05 13:14:19.707627+00:00,2020-10-10 05:41:23.368363+00:00,118,0.0
21054,2020-10-10 05:40:55.700422+00:00,2021-02-05 13:14:19.707627+00:00,2020-10-10 05:41:23.368363+00:00,118,0.0
21055,2020-10-08 14:16:52.155661+00:00,2021-01-05 15:45:52.645536+00:00,2020-10-08 14:17:04.526139+00:00,89,0.0
21056,2020-10-08 14:16:52.155661+00:00,2021-01-05 15:45:52.645536+00:00,2020-10-08 14:17:04.526139+00:00,89,0.0

In [13]:
# Agrupar por 'user_id' y calcular el mínimo de 'days_created_to_updated' por cada usuario
grouped_users = merged_df.groupby('user_id')['days_created_to_updated'].min()

# Ordenar los resultados y obtener los 20 con el menor valor
top_20_users_grouped = grouped_users.nsmallest(19)

top_20_users_grouped

user_id
526.0      0
3248.0     0
6333.0     0
10562.0    0
13565.0    0
14048.0    0
14832.0    0
34991.0    0
44498.0    0
45517.0    0
47557.0    0
56860.0    0
62880.0    0
68367.0    0
69253.0    0
76803.0    0
83479.0    0
88127.0    0
96899.0    0
Name: days_created_to_updated, dtype: int64

In [28]:
# Convertir la columna 'created_at' a tipo datetime si no lo está
merged_df['created_at'] = pd.to_datetime(merged_df['created_at'], errors='coerce')

# Extraer la hora de la columna 'created_at'
merged_df['hour_created'] = merged_df['created_at'].dt.hour

# Filtrar los user_id con transacciones realizadas entre la 1AM y las 4AM
filtered_users = merged_df[(merged_df['hour_created'] >= 1) & (merged_df['hour_created'] < 4)]['user_id'].unique()

filtered_users

array([  2109.,   6536.,  26912.,  11905.,  33465.,     nan,  20230.,
        62302.,  24547.,  28404.,  92043.,  87807.,  35354.,  24144.,
        13735.,  79903.,   9917.,  26764.,   5264.,  30956.,  65693.,
        27319.,  38898.,  19667.,  77635.,  21354.,   6164.,  56475.,
        53742.,  98130.,   4982.,  12070.,  48917.,   8093.,  56093.,
        22510.,   1987.,   1776.,  18708.,  17697.,  31241.,  34635.,
        32822.,  86082.,  52482.,  65328.,   3219.,  47267.,   7302.,
         8746.,  93714.,   4656.,   1658.,  17707.,   3287.,  14750.,
        10028.,  30112.,  10522.,  77311.,  87976.,  80521.,  82814.,
        18369.,  12015.,   1136.,  32407.,  12353.,   6938.,  25158.,
        12233.,  10432.,  17725.,   8196.,    430.,  87479.,  34496.,
         5291.,   9852.,  47851.,    590.,  14617.,   5189.,  23971.,
         9973.,    192.,   3631.,  34928.,  34872.,  17925.,  20836.,
        19579.,  30377.,   3121.,  33406.,  19753.,  20926.,  29652.,
         8496.,  12103.,  35990.,  25095.,  10177.,  28259.,  11832.,
        10614.,  12099.,  21448.,    553.,  30243.,  34600.,  29615.,
        93477.,  16109.,  19065.,  51740.,  24758.,  10766.,   7379.,
        20821.,  48905.,  14510.,   6321.,  20171.,  46124.,  36378.,
        38776.,  12293.,  18664.,  11415.,  34226.,   6207.,  36490.,
        77671.,  56148.,  44506.,  41092.,  34713.,  34803.,  79889.,
        43797.,  75509.,  76334.,  27511.,   5226.,  20441.,  36707.,
        31838.,  21292.,  83347.,  15317.,  48012.,  47905.,  34617.,
        55534.,  48102.,  22468.,  38627.,  52441.,  52430.,  31026.,
         6672.,   6622.,  34381.,  13405.,  95009.,  91523.,  39505.,
        11558.,   2841.,  37093.,  87888.,  63495.,  78688.,  33584.,
        53420.,  18352.,  34850.,  10894.,  21373.,  20106.,  12491.,
          231.,   1355.,  42938.,  89784.,  47347.,  36630.,  13672.,
         9566.,  13758.,  80908.,  67277.,  53253.,  15902.,  63605.,
        65633.,  50597.,  48405.,  43525.,  22329.,  13851.,  56311.,
        20777.,  64759.,   6519.,  93239.,  69833.,  26262.,  13973.,
        70854.,  20902.,  74441.,  74463.,  22140.,  43571.,  32230.,
        36379.,  74694.,  51063.,   7221.,  79859.,  11052.,  60543.,
        73962.,  19913.,  70917.,  81336.,  84212.,  83773.,  89806.,
        84438.,  85911.,  19507.,  74832.,  89213.,  91880.,  24880.,
        96306.,  71186.,  13404.,  53490.,  61596.,  60787.,  64138.,
        95405.,  95100.,  95017.,  62636.,  98103.,  98139.,  79949.,
        67149.,  98051.,  86941.,  84250.,  34456.,  20571.,  99557.,
        99593.,  22812.,  48774.,  36244.,  37861.,  22469.,  18210.,
        74995.,  52453.,  44157.,  22486.,  10577.,  10061.,  40095.,
         2923.,  48754.,  25332.,  43554.,  80773.,  81920.,  36320.,
        65690.,  83525.,  12842.,  10396.,  79281.,  86091.,  35289.,
       100869.,  76931.,  84240.,  47743.,  14920.,  63514.,  45704.,
        44920.,  35054.,  36311.,  48169.])

In [25]:
# Filtrar los user_id con status "transaction_declined" o "direct_debit_rejected"
filtered_status_users = merged_df[
    merged_df['status'].isin(['transaction_declined', 'direct_debit_rejected'])
]['user_id'].nunique()

filtered_status_users

724

In [26]:
# Obtener los user_id con status "transaction_declined" o "direct_debit_rejected"
filtered_user_ids = merged_df[
    merged_df['status'].isin(['transaction_declined', 'direct_debit_rejected'])
]['user_id'].unique()

filtered_user_ids

array([ 15415.,  16861.,  28368.,  14484.,  58270.,   8379.,  95574.,
         9748.,   6976.,  32634.,  41200.,  74867.,   2575.,   5296.,
        17851.,  88936.,  13261.,   5206.,  12513.,   6561.,   2715.,
        44498.,   8866.,  33064.,   5299.,  33866.,  13778.,  10562.,
        16730.,  17580.,  15057.,  25246.,  88757.,  17343.,  13863.,
         4552.,  16115.,  96836.,  12485.,  15570.,   7780.,  22274.,
        69977.,  13637.,  27978.,  32758.,  11967.,   4825.,  23754.,
        60572.,  42918.,  34591.,  31556.,  57440.,  98604.,  42862.,
        28868.,  14048.,   4305.,  32873.,  72204.,  17751.,   1909.,
        19060.,   5331.,  34460.,     nan,  25080.,  99347.,  20859.,
        60704.,  10123.,   5496.,  33541.,   5186.,  52193.,  79660.,
        12699.,  20820.,   4644.,   6569.,  27321.,  24547.,  30009.,
        30131.,  30364.,  26802.,  36981.,  43191.,  14638.,  97197.,
        36366.,  57193.,  28404.,  62776.,  59840.,  40226.,  12664.,
        32220.,  17995.,  87807.,  98556.,  28191.,  50403.,  32693.,
        14001.,  47534.,   8113.,  87939.,  64217.,  87770.,  11294.,
        37157.,  34652.,  35363.,  73876.,  29180.,  43146.,  16374.,
        13806.,  48805.,   9752.,  44694.,   2811.,  42904.,  91722.,
        25193.,  21125.,  13946.,  16947.,  28287.,  76451.,  47557.,
        57842.,   3903.,  24144.,  53970.,  68982.,  34121.,  15784.,
        79903.,  36455.,  85495.,  32433.,  21550.,  27782.,  16684.,
        34679.,  13344.,  43847.,  91794.,  91355.,  45070.,   4205.,
        19829.,  35714.,  24361.,  19511.,  18000.,   4813.,  63624.,
        22205.,  82999.,   4912.,  28494.,  12271.,  32833.,  24733.,
        43376.,  14294.,  30656.,  49806.,  86728.,  21180.,  46412.,
        16001.,  50267.,  90577.,  88189.,  89449.,  51744.,  26746.,
        49176.,  16388.,  49437.,  10766.,  20379.,  88690.,  54879.,
        56870.,  60582.,  26571.,  18824.,  27789.,   7006.,  36298.,
         2618.,  88127.,  20665.,  14807.,  53081.,  37998.,   4380.,
        85166.,  42633.,  54083.,  10904.,  37559.,  27284.,  25065.,
         8592.,  34971.,  28187.,  11848.,   7109.,  62880.,  85174.,
        76146.,  89681.,  33246.,  69212.,   4869.,  16923.,  25772.,
         7451.,  22365.,  31710.,  27816.,  30654.,  65707.,  95280.,
        11029.,  14832.,  67042.,  25187.,  22570.,  12605.,  19626.,
        27665.,  33151.,  20812.,   1861.,  36427.,  34223.,  19472.,
        36675.,  13846.,   8705.,  46580.,  18893.,  34111.,  10314.,
         6785.,  21685.,  17760.,  35987.,  21682.,  40996.,   6593.,
         5295.,   4973.,  39355.,  35361.,   6947.,  27319.,    526.,
         6333.,  45517.,  13565.,  56860.,  68367.,   6627.,   3248.,
        34991.,  69253.,  65639.,  69999.,  82736.,  88183.,  51115.,
        40626.,  44417.,  85056.,  41739., 100508.,  14783.,  29093.,
        28562.,  26753.,  40665.,  33432.,  24752.,  25378.,  39384.,
        70893.,  15177.,  65175.,  72314.,  82319.,  57481.,  17282.,
        16312.,   7436.,  11832.,  73788.,  20156.,  11858.,  43140.,
        17293.,   6634.,  76803.,  53203.,  80200.,  77635.,  41660.,
        77992.,  63313.,  26268.,  16509.,  37270.,  43295.,   9959.,
        58901.,  80542.,  96228.,  88370.,  41371.,  16620.,  64341.,
        92668.,  67316.,  62993.,  53496.,  79329.,  27941.,  71814.,
        40326.,  82673.,   6461.,   4884.,  39148.,   9249.,  24311.,
        77170.,  12059.,  42238.,  83479.,  97579.,  40457.,  83538.,
        47001.,  84255.,  86649.,  53047.,  90124.,  86966.,  88247.,
        40437.,  53742.,  68915.,  98813.,  25670.,  60700.,  15140.,
        24775.,  82686.,  94406.,  57372.,   7379.,  35767.,  18225.,
        88276.,  87775.,  45572.,  35314.,  63750.,   1340.,  22031.,
        40221.,  70988.,  95320.,  46516.,  90841.,  36287.,  67542.,
        95854.,  39356.,  46210.,  67704.,  52192.,  99355.,  96899.,
        41991.,  91351.,  64641.,  33956.,  43037., 103174.,  12070.,
         3045.,  48917.,  12713.,  85830.,  49606.,  67059.,  85828.,
       100751.,  49063.,  77745.,  19059.,  32882.,  45125.,  43336.,
        25319.,  78964.,  70629.,  29586.,  47727.,  90141.,  60668.,
        46379.,  20248.,  28127.,  57501.,  40730.,  29905.,  36988.,
        11833.,  42523.,  19004.,  57092.,  77055.,  52063.,  52716.,
        30898.,  91003.,  53451.,  79235.,  48059.,  31668.,  59783.,
        12693.,  23777.,  20632.,  22923.,  88583.,  73977.,  19466.,
        53017.,  18708.,  37641.,  54316.,  42637.,  15625.,  55504.,
        66043.,  15653.,  34857.,  13082.,  35112.,  61207.,  27125.,
        13770.,  31241.,  72676.,  41885.,  41411.,  24731.,  35512.,
        13135.,  55734.,  37986.,  80537.,  27302.,  95461.,  27908.,
          565.,  11657.,  47740.,  71034.,  80948.,  90088.,    640.,
        80180.,  29057.,  27452.,  34635.,  92433.,  14410.,  92358.,
        57722.,  86782.,  35196.,  20651.,  65413.,  15089.,  21476.,
        36235.,  86082.,  26600.,  56946.,  34222.,   3058.,  52482.,
          938.,  10590.,  42425.,  55402.,  67642.,   5015.,  55242.,
        50800.,  18664.,  88618.,  50890.,  78554.,  67067.,  78750.,
        73152.,  27873.,  36013.,  95671.,   2018.,  98413.,  80617.,
        22345.,  25921.,  14966.,  91606.,  80334.,  40785.,  52620.,
        77356.,  32835.,  89318.,  67138.,  80163.,  76529.,  88589.,
         4837.,  44781.,  77043.,  74717.,  64923.,  55473.,   5223.,
        26006., 100564.,  72148.,  28335.,  99461.,  31411.,  56859.,
        89639.,  27793.,  92214.,  52474.,  46275.,  93950.,  99664.,
        70754.,  62634.,  42159.,  28535.,  16524.,  94361.,  63307.,
        32337.,  10208.,  19231.,  92128.,  29163.,  28657.,  35661.,
        25848.,  39701.,  37462.,  42974.,  88460.,  63226.,  21274.,
        55681.,  35699.,  90083.,  15650.,  98547.,  61496.,  10150.,
        50259.,   6489.,  12790.,   5017.,  19686.,  47267.,  54272.,
        92819.,  82116.,  49803.,   8330.,  19098.,  67517.,   2353.,
        42240.,  14283.,  11877.,  89947.,  83958.,  12710.,  74985.,
        77596.,  49135.,  84220.,  80137.,  79663.,  25893.,   8647.,
        40923.,  34034.,  45330.,  31880.,  15040.,  28541.,   9567.,
        45191.,   8641.,  21714.,  18244.,  34780.,  19075.,  94586.,
        51792.,  62680.,  98469.,  38929.,  27713.,  41581.,  34487.,
        17349.,  93714.,  35702.,  28698.,  90169.,  72104.,  70245.,
         5872.,  21530.,  31511.,  32136.,  21982.,  51790.,  25226.,
        66708.,  65482.,  26405.,  71267.,  10991.,  45250.,  43843.,
        94174.,  64027.,  24558.,  55375.,  78030.,  16989.,   4906.,
         4830.,  40749.,  94758.,  16415.,  14361.,  84552.,  21169.,
         4368.,  16011.,  84589.,  14384.,   7122.,  88696.,  27345.,
        38738.,  22691.,  14125.,  47916.,  43826.,   7475.,   1371.,
        80869.,  26264.,  95878.,  18260.,  43338.,  93836.,  92067.,
         6753.,  32071.,  21033.,  33680.,  36437.,  45589.,  19118.,
        50086.,  46637.,  60496.,  72437.,  47677.,   8410.,  83589.,
        17162.,  81511.,   9678.,  82263.,  36843.,  16240.,  61441.,
        96078.,  63591.,  46133.,   7162.,  53757.,  89669.,  24379.,
        49158.,  84689.,  10113.,  70153.])

In [29]:
# Convertir cada lista de user_id en un conjunto
fraudulent_users_set = set(fraudulent_users)
high_amount_users_set = set(high_amount_users)
top_20_users_grouped_set = set(top_20_users_grouped.index)  # Si es un DataFrame con índice user_id
filtered_users_set = set(filtered_users)
filtered_status_users_set = set([filtered_status_users])  # Solo un valor si es un conteo
filtered_user_ids_set = set(filtered_user_ids)

# Unir todos los conjuntos
all_sets = [
    fraudulent_users_set,
    high_amount_users_set,
    top_20_users_grouped_set,
    filtered_users_set,
    filtered_user_ids_set,
]

# Encontrar intersecciones y usuarios únicos
from collections import Counter

# Contar cuántos conjuntos contienen cada user_id
user_id_counter = Counter(user_id for user_set in all_sets for user_id in user_set)

# Filtrar los user_id que aparecen en más de un conjunto
common_users = {user_id: count for user_id, count in user_id_counter.items() if count > 1}

common_users

{76803.0: 3,
 96899.0: 3,
 69253.0: 3,
 526.0: 3,
 68367.0: 3,
 83479.0: 3,
 56860.0: 3,
 62880.0: 3,
 34991.0: 3,
 3248.0: 3,
 27319.0: 3,
 6333.0: 3,
 88127.0: 3,
 10562.0: 3,
 47557.0: 3,
 45517.0: 3,
 44498.0: 3,
 14048.0: 3,
 14832.0: 3,
 13565.0: 3,
 31241.0: 2,
 10766.0: 2,
 93714.0: 2,
 79903.0: 2,
 11832.0: 2,
 86082.0: 2,
 24144.0: 2,
 47267.0: 2,
 7379.0: 2,
 18664.0: 2,
 28404.0: 2,
 87807.0: 2,
 52482.0: 2,
 18708.0: 2,
 48917.0: 2,
 12070.0: 2,
 77635.0: 2,
 34635.0: 2,
 24547.0: 2,
 53742.0: 2}