Vamos a intentar encontrar que transacciones de la base de datos son fraudulentas. Las transacciones fraudulentas suelen ser uno de los principales problemas que las plataformas de pago o las fintech persiguen ya que tienen que cumplir con normas de compliance y tienen que ser transparentes entre otros motivos. Normalmente las transacciones fraudulentas suelen representar menos del 0,3% del total de las transacciones. 
En este caso hemos decidido que las siguientes características sean las más relevantes para detectar el fraude transaccional:
    1. Sólo aquellas transacciones con status "transaction_declined" o "rejected"
    2. Aquellas transacciones que tengan montos anormales, siguiendo con clientes que han hecho cash request de poca cantidad y de repente mucha cantidad o bien usuarios que solamente tengan una transacción y que sea un valor atípico de lo elevado que és.
    3. Usuarios inactivos que de repente hagan un cash request de mucha cantidad.
    4. Que la diferencia entre el created_at y el updated_at o el created_at y el paid_at sea muy pequeña.
    5. Transacciones a altas horas de la madrugada sin motivo aparente (1 AM a 4 AM)
    6. Diferencias significativas entre created_at, moderated_at, y cash_request_recieved_date.
    7. Muchas transacciones rechazadas antes de una transacción aprobada (secuencia sospechosa).

In [3]:
import os
os.chdir('codes')
%run analisis_calidad_datos.ipynb

Basic Information extract - cash request - data analyst.csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          23970 non-null  int64
 1   amount                      23970 non-null  float64
 2   status                      23970 non-null  object
 3   created_at                  23970 non-null  object
 4   updated_at                  23970 non-null  object
 5   user_id                     21867 non-null  float64
 6   moderated_at                16035 non-null  object
 7   deleted_account_id          2104 non-null   float64
 8   reimbursement_date          23970 non-null  object
 9   cash_request_received_date  16289 non-null  object
 10  money_back_date             16543 non-null  object
 11  transfer_type               23970 non-null  object
 12  send_at                     16641 non-null  object
 13  recovery_status             3330 non-null   object
 14  reco_creation               3330 non-null   object
 15  reco_last_update            3330 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 2.9+ MB
None
Basic Information extract - fees - data analyst - .csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  int64
 1   cash_request_id  21057 non-null  float64
 2   type             21061 non-null  object
 3   status           21061 non-null  object
 4   category         2196 non-null   object
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  object
 7   created_at       21061 non-null  object
 8   updated_at       21061 non-null  object
 9   paid_at          15531 non-null  object
 10  from_date        7766 non-null   object
 11  to_date          7766 non-null   object
 12  charge_moment    21061 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 2.1+ MB
None
Evaluating data quality for extract - cash request - data analyst.csv...

Missing values in extract - cash request - data analyst.csv:
id                                0
amount                            0
status                            0
created_at                        0
updated_at                        0
user_id                        2103
moderated_at                   7935
deleted_account_id            21866
reimbursement_date                0
cash_request_received_date     7681
money_back_date                7427
transfer_type                     0
send_at                        7329
recovery_status               20640
reco_creation                 20640
reco_last_update              20640
dtype: int64

Duplicate rows in extract - cash request - data analyst.csv: 0

Evaluating data quality for extract - fees - data analyst - .csv...

Missing values in extract - fees - data analyst - .csv:
id                     0
cash_request_id        4
type                   0
status                 0
category           18865
total_amount           0
reason                 0
created_at             0
updated_at             0
paid_at             5530
from_date          13295
to_date            13295
charge_moment          0
dtype: int64

Duplicate rows in extract - fees - data analyst - .csv: 0

Result of add '_fee' to each column of extract - fees - data analyst - .csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_fee             21061 non-null  int64
 1   cash_request_id    21057 non-null  float64
 2   type_fee           21061 non-null  object
 3   status_fee         21061 non-null  object
 4   category_fee       2196 non-null   object
 5   total_amount_fee   21061 non-null  float64
 6   reason_fee         21061 non-null  object
 7   created_at_fee     21061 non-null  object
 8   updated_at_fee     21061 non-null  object
 9   paid_at_fee        15531 non-null  object
 10  from_date_fee      7766 non-null   object
 11  to_date_fee        7766 non-null   object
 12  charge_moment_fee  21061 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 2.1+ MB
None
Datasets merged successfully.
Merged datasets based on 'id' (extract - cash request - data analyst) and 'cash_request_id' (extract - fees - data analyst) columns:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 21057 entries, 0 to 21056
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          21057 non-null  int64
 1   amount                      21057 non-null  float64
 2   status                      21057 non-null  object
 3   created_at                  21057 non-null  object
 4   updated_at                  21057 non-null  object
 5   user_id                     20151 non-null  float64
 6   moderated_at                11284 non-null  object
 7   deleted_account_id          906 non-null    float64
 8   reimbursement_date          21057 non-null  object
 9   cash_request_received_date  19763 non-null  object
 10  money_back_date             19701 non-null  object
 11  transfer_type               21057 non-null  object
 12  send_at                     17570 non-null  object
 13  recovery_status             6894 non-null   object
 14  reco_creation               6894 non-null   object
 15  reco_last_update            6894 non-null   object
 16  id_fee                      21057 non-null  int64
 17  cash_request_id             21057 non-null  float64
 18  type_fee                    21057 non-null  object
 19  status_fee                  21057 non-null  object
 20  category_fee                2196 non-null   object
 21  total_amount_fee            21057 non-null  float64
 22  reason_fee                  21057 non-null  object
 23  created_at_fee              21057 non-null  object
 24  updated_at_fee              21057 non-null  object
 25  paid_at_fee                 15531 non-null  object
 26  from_date_fee               7766 non-null   object
 27  to_date_fee                 7766 non-null   object
 28  charge_moment_fee           21057 non-null  object
dtypes: float64(5), int64(2), object(22)
memory usage: 4.8+ MB
None
Evaluating data quality for merged_cash_request_fees.csv...

Missing values in merged_cash_request_fees.csv:
id                                0
amount                            0
status                            0
created_at                        0
updated_at                        0
user_id                         906
moderated_at                   9773
deleted_account_id            20151
reimbursement_date                0
cash_request_received_date     1294
money_back_date                1356
transfer_type                     0
send_at                        3487
recovery_status               14163
reco_creation                 14163
reco_last_update              14163
id_fee                            0
cash_request_id                   0
type_fee                          0
status_fee                        0
category_fee                  18861
total_amount_fee                  0
reason_fee                        0
created_at_fee                    0
updated_at_fee                    0
paid_at_fee                    5526
from_date_fee                 13291
to_date_fee                   13291
charge_moment_fee                 0
dtype: int64

Duplicate rows in merged_cash_request_fees.csv: 0

Codes for missing information based on Lexique - Data Analyst.xlsx:
                   Column Name      Code  \
0                      user_id      Null
1                 moderated_at        98
2           deleted_account_id  98888888
3   cash_request_received_date        98
4              money_back_date      Null
5                      send_at      Null
6              recovery_status        98
7                reco_creation      Null
8             reco_last_update      Null
9                 category_fee      Null
10                 paid_at_fee      Null
11               from_date_fee        98
12                 to_date_fee        98

                                      Explanation
0                                               ?
1                       No needed a manual review
2                              No deleted account
3                     No sent a SEPA direct debit
4                                               ?
5                                               ?
6   The case request never had a payment incident
7                                               ?
8                                               ?
9                                               ?
10                                              ?
11                               No postpone fees
12                              No postpones fees
Missing values have been filled and the cleaned dataset has been saved.
Evaluating data quality for cleaned_merged_cash_request_fees...

Missing values in cleaned_merged_cash_request_fees:
id                            0
amount                        0
status                        0
created_at                    0
updated_at                    0
user_id                       0
moderated_at                  0
deleted_account_id            0
reimbursement_date            0
cash_request_received_date    0
money_back_date               0
transfer_type                 0
send_at                       0
recovery_status               0
reco_creation                 0
reco_last_update              0
id_fee                        0
cash_request_id               0
type_fee                      0
status_fee                    0
category_fee                  0
total_amount_fee              0
reason_fee                    0
created_at_fee                0
updated_at_fee                0
paid_at_fee                   0
from_date_fee                 0
to_date_fee                   0
charge_moment_fee             0
dtype: int64

Duplicate rows in cleaned_merged_cash_request_fees: 0

Conversion of the 'created_at' and 'created_at_fee' columns to datetime format:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 21057 entries, 0 to 21056
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          21057 non-null  int64
 1   amount                      21057 non-null  float64
 2   status                      21057 non-null  object
 3   created_at                  21057 non-null  datetime64[ns, UTC]
 4   updated_at                  21057 non-null  object
 5   user_id                     21057 non-null  object
 6   moderated_at                21057 non-null  object
 7   deleted_account_id          21057 non-null  float64
 8   reimbursement_date          21057 non-null  object
 9   cash_request_received_date  21057 non-null  object
 10  money_back_date             21057 non-null  object
 11  transfer_type               21057 non-null  object
 12  send_at                     21057 non-null  object
 13  recovery_status             21057 non-null  object
 14  reco_creation               21057 non-null  object
 15  reco_last_update            21057 non-null  object
 16  id_fee                      21057 non-null  int64
 17  cash_request_id             21057 non-null  float64
 18  type_fee                    21057 non-null  object
 19  status_fee                  21057 non-null  object
 20  category_fee                21057 non-null  object
 21  total_amount_fee            21057 non-null  float64
 22  reason_fee                  21057 non-null  object
 23  created_at_fee              21057 non-null  datetime64[ns, UTC]
 24  updated_at_fee              21057 non-null  object
 25  paid_at_fee                 21057 non-null  object
 26  from_date_fee               21057 non-null  object
 27  to_date_fee                 21057 non-null  object
 28  charge_moment_fee           21057 non-null  object
dtypes: datetime64[ns, UTC](2), float64(4), int64(2), object(21)
memory usage: 4.8+ MB
None
Evaluating data quality for column: created_at

Missing values in created_at: 0

Invalid dates in created_at: 0

Evaluating data quality for column: transfer_type

Missing values in transfer_type: 0

Unique values in transfer_type: ['instant' 'regular']

Evaluating data quality for column: recovery_status

Missing values in recovery_status: 0

Count of 'pending' in recovery_status: 1914

Count of 'pending_direct_debit' in recovery_status: 34

Unique values in recovery_status: [98 'pending' 'completed' 'pending_direct_debit' 'cancelled']

Evaluating data quality for column: total_amount_fee

Missing values in total_amount_fee: 0

Negative values in total_amount_fee: 0

Evaluating data quality for column: created_at

Missing values in created_at: 0

Invalid dates in created_at: 0

Evaluating data quality for column: created_at_fee

Missing values in created_at_fee: 0

Invalid dates in created_at_fee: 0

In [4]:
# Filtrar los user_id con status "transaction_declined" o "rejected"
fraudulent_users = merged_df[merged_df['status'].isin(['transaction_declined', 'rejected'])]['user_id'].unique()

fraudulent_users

array([44498.0, 10562.0, 14048.0, 47557.0, 88127.0, 62880.0, 14832.0,
       27319.0, 526.0, 6333.0, 45517.0, 13565.0, 56860.0, 68367.0, 3248.0,
       34991.0, 69253.0, 76803.0, 83479.0, 96899.0], dtype=object)

In [5]:
# Filtrar los user_id con el amount máximo de 200
high_amount_users = merged_df[merged_df['amount'] == 200]['user_id'].unique()

high_amount_users

array([4881.0, 9282.0, 9222.0], dtype=object)

In [6]:
# Convertir las columnas de fechas a tipo datetime
merged_df['created_at'] = pd.to_datetime(merged_df['created_at'], errors='coerce')
merged_df['updated_at'] = pd.to_datetime(merged_df['updated_at'], errors='coerce')
merged_df['send_at'] = pd.to_datetime(merged_df['send_at'], errors='coerce')

# Calcular el diferencial de días entre created_at y updated_at
merged_df['days_created_to_updated'] = (merged_df['updated_at'] - merged_df['created_at']).dt.days

# Calcular el diferencial de días entre created_at y send_at
merged_df['days_created_to_send'] = (merged_df['send_at'] - merged_df['created_at']).dt.days

# Mostrar las nuevas columnas
merged_df[['created_at', 'updated_at', 'send_at', 'days_created_to_updated', 'days_created_to_send']]

,created_at,updated_at,send_at,days_created_to_updated,days_created_to_send
0,2020-10-23 15:20:26.163927+00:00,2020-12-18 13:08:29.099365+00:00,2020-10-23 15:21:26.878525+00:00,55,0.0
1,2020-05-27 02:26:27.615190+00:00,2020-06-09 11:25:51.726360+00:00,NaT,13,NaN
2,2020-07-01 09:30:03.145410+00:00,2020-08-11 22:27:58.240406+00:00,NaT,41,NaN
3,2020-07-01 09:30:03.145410+00:00,2020-08-11 22:27:58.240406+00:00,NaT,41,NaN
4,2020-07-01 09:30:03.145410+00:00,2020-08-11 22:27:58.240406+00:00,NaT,41,NaN
...,...,...,...,...,...
21052,2020-10-20 07:58:04.006937+00:00,2021-02-05 12:19:30.656816+00:00,2020-10-20 07:58:14.171553+00:00,108,0.0
21053,2020-10-10 05:40:55.700422+00:00,2021-02-05 13:14:19.707627+00:00,2020-10-10 05:41:23.368363+00:00,118,0.0
21054,2020-10-10 05:40:55.700422+00:00,2021-02-05 13:14:19.707627+00:00,2020-10-10 05:41:23.368363+00:00,118,0.0
21055,2020-10-08 14:16:52.155661+00:00,2021-01-05 15:45:52.645536+00:00,2020-10-08 14:17:04.526139+00:00,89,0.0
21056,2020-10-08 14:16:52.155661+00:00,2021-01-05 15:45:52.645536+00:00,2020-10-08 14:17:04.526139+00:00,89,0.0

In [7]:
# Agrupar por 'user_id' y calcular el mínimo de 'days_created_to_updated' por cada usuario
grouped_users = merged_df.groupby('user_id')['days_created_to_updated'].min()

# Ordenar los resultados y obtener los 20 con el menor valor
top_20_users_grouped = grouped_users.nsmallest(19)

top_20_users_grouped

user_id
526.0      0
3248.0     0
6333.0     0
10562.0    0
13565.0    0
14048.0    0
14832.0    0
34991.0    0
44498.0    0
45517.0    0
47557.0    0
56860.0    0
62880.0    0
68367.0    0
69253.0    0
76803.0    0
83479.0    0
88127.0    0
96899.0    0
Name: days_created_to_updated, dtype: int64

In [8]:
# Convertir la columna 'created_at' a tipo datetime si no lo está
merged_df['created_at'] = pd.to_datetime(merged_df['created_at'], errors='coerce')

# Extraer la hora de la columna 'created_at'
merged_df['hour_created'] = merged_df['created_at'].dt.hour

# Filtrar los user_id con transacciones realizadas entre la 1AM y las 4AM
filtered_users = merged_df[(merged_df['hour_created'] >= 1) & (merged_df['hour_created'] < 4)]['user_id'].unique()

filtered_users

array([2109.0, 6536.0, 26912.0, 11905.0, 33465.0, 'Null', 20230.0,
       62302.0, 24547.0, 28404.0, 92043.0, 87807.0, 35354.0, 24144.0,
       13735.0, 79903.0, 9917.0, 26764.0, 5264.0, 30956.0, 65693.0,
       27319.0, 38898.0, 19667.0, 77635.0, 21354.0, 6164.0, 56475.0,
       53742.0, 98130.0, 4982.0, 12070.0, 48917.0, 8093.0, 56093.0,
       22510.0, 1987.0, 1776.0, 18708.0, 17697.0, 31241.0, 34635.0,
       32822.0, 86082.0, 52482.0, 65328.0, 3219.0, 47267.0, 7302.0,
       8746.0, 93714.0, 4656.0, 1658.0, 17707.0, 3287.0, 14750.0, 10028.0,
       30112.0, 10522.0, 77311.0, 87976.0, 80521.0, 82814.0, 18369.0,
       12015.0, 1136.0, 32407.0, 12353.0, 6938.0, 25158.0, 12233.0,
       10432.0, 17725.0, 8196.0, 430.0, 87479.0, 34496.0, 5291.0, 9852.0,
       47851.0, 590.0, 14617.0, 5189.0, 23971.0, 9973.0, 192.0, 3631.0,
       34928.0, 34872.0, 17925.0, 20836.0, 19579.0, 30377.0, 3121.0,
       33406.0, 19753.0, 20926.0, 29652.0, 8496.0, 12103.0, 35990.0,
       25095.0, 10177.0, 28259.0, 11832.0, 10614.0, 12099.0, 21448.0,
       553.0, 30243.0, 34600.0, 29615.0, 93477.0, 16109.0, 19065.0,
       51740.0, 24758.0, 10766.0, 7379.0, 20821.0, 48905.0, 14510.0,
       6321.0, 20171.0, 46124.0, 36378.0, 38776.0, 12293.0, 18664.0,
       11415.0, 34226.0, 6207.0, 36490.0, 77671.0, 56148.0, 44506.0,
       41092.0, 34713.0, 34803.0, 79889.0, 43797.0, 75509.0, 76334.0,
       27511.0, 5226.0, 20441.0, 36707.0, 31838.0, 21292.0, 83347.0,
       15317.0, 48012.0, 47905.0, 34617.0, 55534.0, 48102.0, 22468.0,
       38627.0, 52441.0, 52430.0, 31026.0, 6672.0, 6622.0, 34381.0,
       13405.0, 95009.0, 91523.0, 39505.0, 11558.0, 2841.0, 37093.0,
       87888.0, 63495.0, 78688.0, 33584.0, 53420.0, 18352.0, 34850.0,
       10894.0, 21373.0, 20106.0, 12491.0, 231.0, 1355.0, 42938.0,
       89784.0, 47347.0, 36630.0, 13672.0, 9566.0, 13758.0, 80908.0,
       67277.0, 53253.0, 15902.0, 63605.0, 65633.0, 50597.0, 48405.0,
       43525.0, 22329.0, 13851.0, 56311.0, 20777.0, 64759.0, 6519.0,
       93239.0, 69833.0, 26262.0, 13973.0, 70854.0, 20902.0, 74441.0,
       74463.0, 22140.0, 43571.0, 32230.0, 36379.0, 74694.0, 51063.0,
       7221.0, 79859.0, 11052.0, 60543.0, 73962.0, 19913.0, 70917.0,
       81336.0, 84212.0, 83773.0, 89806.0, 84438.0, 85911.0, 19507.0,
       74832.0, 89213.0, 91880.0, 24880.0, 96306.0, 71186.0, 13404.0,
       53490.0, 61596.0, 60787.0, 64138.0, 95405.0, 95100.0, 95017.0,
       62636.0, 98103.0, 98139.0, 79949.0, 67149.0, 98051.0, 86941.0,
       84250.0, 34456.0, 20571.0, 99557.0, 99593.0, 22812.0, 48774.0,
       36244.0, 37861.0, 22469.0, 18210.0, 74995.0, 52453.0, 44157.0,
       22486.0, 10577.0, 10061.0, 40095.0, 2923.0, 48754.0, 25332.0,
       43554.0, 80773.0, 81920.0, 36320.0, 65690.0, 83525.0, 12842.0,
       10396.0, 79281.0, 86091.0, 35289.0, 100869.0, 76931.0, 84240.0,
       47743.0, 14920.0, 63514.0, 45704.0, 44920.0, 35054.0, 36311.0,
       48169.0], dtype=object)

In [9]:
# Filtrar los user_id con status "transaction_declined" o "direct_debit_rejected"
filtered_status_users = merged_df[
    merged_df['status'].isin(['transaction_declined', 'direct_debit_rejected'])
]['user_id'].nunique()

filtered_status_users

725

In [10]:
# Obtener los user_id con status "transaction_declined" o "direct_debit_rejected"
filtered_user_ids = merged_df[
    merged_df['status'].isin(['transaction_declined', 'direct_debit_rejected'])
]['user_id'].unique()

filtered_user_ids

array([15415.0, 16861.0, 28368.0, 14484.0, 58270.0, 8379.0, 95574.0,
       9748.0, 6976.0, 32634.0, 41200.0, 74867.0, 2575.0, 5296.0, 17851.0,
       88936.0, 13261.0, 5206.0, 12513.0, 6561.0, 2715.0, 44498.0, 8866.0,
       33064.0, 5299.0, 33866.0, 13778.0, 10562.0, 16730.0, 17580.0,
       15057.0, 25246.0, 88757.0, 17343.0, 13863.0, 4552.0, 16115.0,
       96836.0, 12485.0, 15570.0, 7780.0, 22274.0, 69977.0, 13637.0,
       27978.0, 32758.0, 11967.0, 4825.0, 23754.0, 60572.0, 42918.0,
       34591.0, 31556.0, 57440.0, 98604.0, 42862.0, 28868.0, 14048.0,
       4305.0, 32873.0, 72204.0, 17751.0, 1909.0, 19060.0, 5331.0,
       34460.0, 'Null', 25080.0, 99347.0, 20859.0, 60704.0, 10123.0,
       5496.0, 33541.0, 5186.0, 52193.0, 79660.0, 12699.0, 20820.0,
       4644.0, 6569.0, 27321.0, 24547.0, 30009.0, 30131.0, 30364.0,
       26802.0, 36981.0, 43191.0, 14638.0, 97197.0, 36366.0, 57193.0,
       28404.0, 62776.0, 59840.0, 40226.0, 12664.0, 32220.0, 17995.0,
       87807.0, 98556.0, 28191.0, 50403.0, 32693.0, 14001.0, 47534.0,
       8113.0, 87939.0, 64217.0, 87770.0, 11294.0, 37157.0, 34652.0,
       35363.0, 73876.0, 29180.0, 43146.0, 16374.0, 13806.0, 48805.0,
       9752.0, 44694.0, 2811.0, 42904.0, 91722.0, 25193.0, 21125.0,
       13946.0, 16947.0, 28287.0, 76451.0, 47557.0, 57842.0, 3903.0,
       24144.0, 53970.0, 68982.0, 34121.0, 15784.0, 79903.0, 36455.0,
       85495.0, 32433.0, 21550.0, 27782.0, 16684.0, 34679.0, 13344.0,
       43847.0, 91794.0, 91355.0, 45070.0, 4205.0, 19829.0, 35714.0,
       24361.0, 19511.0, 18000.0, 4813.0, 63624.0, 22205.0, 82999.0,
       4912.0, 28494.0, 12271.0, 32833.0, 24733.0, 43376.0, 14294.0,
       30656.0, 49806.0, 86728.0, 21180.0, 46412.0, 16001.0, 50267.0,
       90577.0, 88189.0, 89449.0, 51744.0, 26746.0, 49176.0, 16388.0,
       49437.0, 10766.0, 20379.0, 88690.0, 54879.0, 56870.0, 60582.0,
       26571.0, 18824.0, 27789.0, 7006.0, 36298.0, 2618.0, 88127.0,
       20665.0, 14807.0, 53081.0, 37998.0, 4380.0, 85166.0, 42633.0,
       54083.0, 10904.0, 37559.0, 27284.0, 25065.0, 8592.0, 34971.0,
       28187.0, 11848.0, 7109.0, 62880.0, 85174.0, 76146.0, 89681.0,
       33246.0, 69212.0, 4869.0, 16923.0, 25772.0, 7451.0, 22365.0,
       31710.0, 27816.0, 30654.0, 65707.0, 95280.0, 11029.0, 14832.0,
       67042.0, 25187.0, 22570.0, 12605.0, 19626.0, 27665.0, 33151.0,
       20812.0, 1861.0, 36427.0, 34223.0, 19472.0, 36675.0, 13846.0,
       8705.0, 46580.0, 18893.0, 34111.0, 10314.0, 6785.0, 21685.0,
       17760.0, 35987.0, 21682.0, 40996.0, 6593.0, 5295.0, 4973.0,
       39355.0, 35361.0, 6947.0, 27319.0, 526.0, 6333.0, 45517.0, 13565.0,
       56860.0, 68367.0, 6627.0, 3248.0, 34991.0, 69253.0, 65639.0,
       69999.0, 82736.0, 88183.0, 51115.0, 40626.0, 44417.0, 85056.0,
       41739.0, 100508.0, 14783.0, 29093.0, 28562.0, 26753.0, 40665.0,
       33432.0, 24752.0, 25378.0, 39384.0, 70893.0, 15177.0, 65175.0,
       72314.0, 82319.0, 57481.0, 17282.0, 16312.0, 7436.0, 11832.0,
       73788.0, 20156.0, 11858.0, 43140.0, 17293.0, 6634.0, 76803.0,
       53203.0, 80200.0, 77635.0, 41660.0, 77992.0, 63313.0, 26268.0,
       16509.0, 37270.0, 43295.0, 9959.0, 58901.0, 80542.0, 96228.0,
       88370.0, 41371.0, 16620.0, 64341.0, 92668.0, 67316.0, 62993.0,
       53496.0, 79329.0, 27941.0, 71814.0, 40326.0, 82673.0, 6461.0,
       4884.0, 39148.0, 9249.0, 24311.0, 77170.0, 12059.0, 42238.0,
       83479.0, 97579.0, 40457.0, 83538.0, 47001.0, 84255.0, 86649.0,
       53047.0, 90124.0, 86966.0, 88247.0, 40437.0, 53742.0, 68915.0,
       98813.0, 25670.0, 60700.0, 15140.0, 24775.0, 82686.0, 94406.0,
       57372.0, 7379.0, 35767.0, 18225.0, 88276.0, 87775.0, 45572.0,
       35314.0, 63750.0, 1340.0, 22031.0, 40221.0, 70988.0, 95320.0,
       46516.0, 90841.0, 36287.0, 67542.0, 95854.0, 39356.0, 46210.0,
       67704.0, 52192.0, 99355.0, 96899.0, 41991.0, 91351.0, 64641.0,
       33956.0, 43037.0, 103174.0, 12070.0, 3045.0, 48917.0, 12713.0,
       85830.0, 49606.0, 67059.0, 85828.0, 100751.0, 49063.0, 77745.0,
       19059.0, 32882.0, 45125.0, 43336.0, 25319.0, 78964.0, 70629.0,
       29586.0, 47727.0, 90141.0, 60668.0, 46379.0, 20248.0, 28127.0,
       57501.0, 40730.0, 29905.0, 36988.0, 11833.0, 42523.0, 19004.0,
       57092.0, 77055.0, 52063.0, 52716.0, 30898.0, 91003.0, 53451.0,
       79235.0, 48059.0, 31668.0, 59783.0, 12693.0, 23777.0, 20632.0,
       22923.0, 88583.0, 73977.0, 19466.0, 53017.0, 18708.0, 37641.0,
       54316.0, 42637.0, 15625.0, 55504.0, 66043.0, 15653.0, 34857.0,
       13082.0, 35112.0, 61207.0, 27125.0, 13770.0, 31241.0, 72676.0,
       41885.0, 41411.0, 24731.0, 35512.0, 13135.0, 55734.0, 37986.0,
       80537.0, 27302.0, 95461.0, 27908.0, 565.0, 11657.0, 47740.0,
       71034.0, 80948.0, 90088.0, 640.0, 80180.0, 29057.0, 27452.0,
       34635.0, 92433.0, 14410.0, 92358.0, 57722.0, 86782.0, 35196.0,
       20651.0, 65413.0, 15089.0, 21476.0, 36235.0, 86082.0, 26600.0,
       56946.0, 34222.0, 3058.0, 52482.0, 938.0, 10590.0, 42425.0,
       55402.0, 67642.0, 5015.0, 55242.0, 50800.0, 18664.0, 88618.0,
       50890.0, 78554.0, 67067.0, 78750.0, 73152.0, 27873.0, 36013.0,
       95671.0, 2018.0, 98413.0, 80617.0, 22345.0, 25921.0, 14966.0,
       91606.0, 80334.0, 40785.0, 52620.0, 77356.0, 32835.0, 89318.0,
       67138.0, 80163.0, 76529.0, 88589.0, 4837.0, 44781.0, 77043.0,
       74717.0, 64923.0, 55473.0, 5223.0, 26006.0, 100564.0, 72148.0,
       28335.0, 99461.0, 31411.0, 56859.0, 89639.0, 27793.0, 92214.0,
       52474.0, 46275.0, 93950.0, 99664.0, 70754.0, 62634.0, 42159.0,
       28535.0, 16524.0, 94361.0, 63307.0, 32337.0, 10208.0, 19231.0,
       92128.0, 29163.0, 28657.0, 35661.0, 25848.0, 39701.0, 37462.0,
       42974.0, 88460.0, 63226.0, 21274.0, 55681.0, 35699.0, 90083.0,
       15650.0, 98547.0, 61496.0, 10150.0, 50259.0, 6489.0, 12790.0,
       5017.0, 19686.0, 47267.0, 54272.0, 92819.0, 82116.0, 49803.0,
       8330.0, 19098.0, 67517.0, 2353.0, 42240.0, 14283.0, 11877.0,
       89947.0, 83958.0, 12710.0, 74985.0, 77596.0, 49135.0, 84220.0,
       80137.0, 79663.0, 25893.0, 8647.0, 40923.0, 34034.0, 45330.0,
       31880.0, 15040.0, 28541.0, 9567.0, 45191.0, 8641.0, 21714.0,
       18244.0, 34780.0, 19075.0, 94586.0, 51792.0, 62680.0, 98469.0,
       38929.0, 27713.0, 41581.0, 34487.0, 17349.0, 93714.0, 35702.0,
       28698.0, 90169.0, 72104.0, 70245.0, 5872.0, 21530.0, 31511.0,
       32136.0, 21982.0, 51790.0, 25226.0, 66708.0, 65482.0, 26405.0,
       71267.0, 10991.0, 45250.0, 43843.0, 94174.0, 64027.0, 24558.0,
       55375.0, 78030.0, 16989.0, 4906.0, 4830.0, 40749.0, 94758.0,
       16415.0, 14361.0, 84552.0, 21169.0, 4368.0, 16011.0, 84589.0,
       14384.0, 7122.0, 88696.0, 27345.0, 38738.0, 22691.0, 14125.0,
       47916.0, 43826.0, 7475.0, 1371.0, 80869.0, 26264.0, 95878.0,
       18260.0, 43338.0, 93836.0, 92067.0, 6753.0, 32071.0, 21033.0,
       33680.0, 36437.0, 45589.0, 19118.0, 50086.0, 46637.0, 60496.0,
       72437.0, 47677.0, 8410.0, 83589.0, 17162.0, 81511.0, 9678.0,
       82263.0, 36843.0, 16240.0, 61441.0, 96078.0, 63591.0, 46133.0,
       7162.0, 53757.0, 89669.0, 24379.0, 49158.0, 84689.0, 10113.0,
       70153.0], dtype=object)

In [11]:
# Convertir cada lista de user_id en un conjunto
fraudulent_users_set = set(fraudulent_users)
high_amount_users_set = set(high_amount_users)
top_20_users_grouped_set = set(top_20_users_grouped.index)  # Si es un DataFrame con índice user_id
filtered_users_set = set(filtered_users)
filtered_status_users_set = set([filtered_status_users])  # Solo un valor si es un conteo
filtered_user_ids_set = set(filtered_user_ids)

# Unir todos los conjuntos
all_sets = [
    fraudulent_users_set,
    high_amount_users_set,
    top_20_users_grouped_set,
    filtered_users_set,
    filtered_user_ids_set,
]

# Encontrar intersecciones y usuarios únicos
from collections import Counter

# Contar cuántos conjuntos contienen cada user_id
user_id_counter = Counter(user_id for user_set in all_sets for user_id in user_set)

# Filtrar los user_id que aparecen en más de un conjunto
common_users = {user_id: count for user_id, count in user_id_counter.items() if count > 1}

common_users

{76803.0: 3,
 96899.0: 3,
 69253.0: 3,
 526.0: 3,
 68367.0: 3,
 83479.0: 3,
 56860.0: 3,
 62880.0: 3,
 34991.0: 3,
 3248.0: 3,
 27319.0: 3,
 6333.0: 3,
 88127.0: 3,
 10562.0: 3,
 47557.0: 3,
 45517.0: 3,
 44498.0: 3,
 14048.0: 3,
 14832.0: 3,
 13565.0: 3,
 31241.0: 2,
 10766.0: 2,
 93714.0: 2,
 79903.0: 2,
 11832.0: 2,
 86082.0: 2,
 24144.0: 2,
 47267.0: 2,
 7379.0: 2,
 18664.0: 2,
 28404.0: 2,
 87807.0: 2,
 52482.0: 2,
 18708.0: 2,
 48917.0: 2,
 12070.0: 2,
 77635.0: 2,
 34635.0: 2,
 'Null': 2,
 24547.0: 2,
 53742.0: 2}